
.img{
  width: 16%;
}
.img>img{
  width: 90%;
}
#img{
  height: 20px;
  width: 50%;
  margin-bottom: 150px;
  margin-top: 10px;
margin-left:25%;
}
#img>img{
  width: 100%;
  height: 500%;
  border-radius: 50%;
  
}
#img>h2{
  text-align: center;
  color: white
}